:host {
    display: block;
}

.content-wrapper > *:first-child {
    display: block;
}
app-header{
    background-color: #343a40;
    // color: white;
}

// .content-wrapper{
//     background-color: #c8af8e2b;

// }