i{
    color: white;
}

.fa-bars {
    cursor: pointer;
}

.nav-item {
    .nav-link {
        cursor: pointer;
        color: white;
    }
}
.nav-item {
    button.nav-link {
        outline: none;
        border: none;
        background-color: transparent;
    }
}
