<!-- <div class="content-header"> -->
<!-- <div class="container-fluid"> -->
<!-- <div class="row mb-2"> -->
<!-- <div class="col-sm-6">
        <h1 class="m-0 text-dark">Dashboard</h1>
      </div> -->
<!-- /.col -->
<!-- <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active">Dashboard v1</li>
        </ol>
      </div> -->
<!-- /.col -->
<!-- </div> -->
<!-- /.row -->
<!-- </div> -->
<!-- /.container-fluid -->
<!-- </div> -->
<!-- /.content-header -->
<div class="main-content">
  <!-- <mat-toolbar color="primary">
    <span>SkyManage</span>
    <span class="space"></span>
    <button mat-raised-button (click)="openproject()">Add Project</button>
  </mat-toolbar> -->
<mat-toolbar color="primary">
  <span>SkyManage</span>
  <span class="space" ></span>
  <div class="tool">
  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
    <mat-icon>add</mat-icon>
    <mat-icon>keyboard_arrow_down</mat-icon>
  </button></div>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="opencompany()">
      <mat-icon>add</mat-icon>
      <span>Company</span>
    </button>
    <button mat-menu-item (click)="opendesignation()">
      <mat-icon>add</mat-icon>
      <span>Designation</span>
    </button>
  </mat-menu>&nbsp;&nbsp;&nbsp;&nbsp;
  <button class="addbtn" mat-raised-button (click)="openuser()"> <mat-icon>person_add</mat-icon>Add User</button>
</mat-toolbar><br>
<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <!-- Small boxes (Stat box) -->
    <div class="row">
      <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box " style="background-color: rgb(152 175 167);">
          <div class="inner">
            <h3>{{totaluser}}</h3>
            <p>User</p>
          </div>
          <div class="icon">
            <i class="fas fa-user"></i>
          </div>
          <a routerLink="/user-list" class="small-box-footer">More info
            <i class="fas fa-arrow-circle-right"></i></a>
        </div>
      </div>
      <!-- ./col -->
      <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box" style="background-color: rgb(156, 193, 194);">
          <div class="inner">
            <h3>{{totalproject}}</h3>
            <p>Project</p>
          </div>
          <div class="icon">
            <i class="fas fa-desktop"></i>
          </div>
          <a routerLink="project-list" class="small-box-footer">More info
            <i class="fas fa-arrow-circle-right"></i></a>
        </div>
      </div>
      <!-- ./col  <ion-icon name="desktop-sharp"></ion-icon>-->
      <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box" style="background-color: rgb(152 175 167);">
          <div class="inner">
            <h3>{{totalportfolio}}</h3>
            <p>PortFolio</p>
          </div>
          <div class="icon">
            <!-- <mat-icon>list</mat-icon> -->
            <i class="far fa-list-alt"></i>
          </div>
          <a routerLink="projectportfolio-list" class="small-box-footer">More info
            <i class="fas fa-arrow-circle-right"></i></a>
        </div>
      </div>
      <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box" style="background-color: rgb(156, 193, 194);">
          <div class="inner">
            <h3>{{totaltask}}</h3>
            <p>Task</p>
          </div>
          <div class="icon">
            <!-- <mat-icon>list</mat-icon> -->
            <i class="fas fa-tasks"></i>
          </div>
          <a routerLink="projecttask-list" class="small-box-footer">More info
            <i class="fas fa-arrow-circle-right"></i></a>
        </div>
      </div>
      <!-- ./col -->
    </div>
    <!-- /.row -->
  </div>
  <!-- Main row -->
</section>

<div class="main-body">
  <mat-form-field>
    <mat-label>Search</mat-label>
    <div>
      <input matInput (keyup)="applyFilter($event)" placeholder="Search Here" #input>
      <!-- <mat-icon>search</mat-icon> -->
    </div>
  </mat-form-field>
  <div class="table-container">
    <table mat-table [dataSource]="dataSource" matSort>

      <!-- ID Column -->
      <ng-container matColumnDef="srno">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> </th>
        <td mat-cell *matCellDef="let i = index"> {{i+1}} </td>
      </ng-container>


      <ng-container matColumnDef="Name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> UserName </th>
        <td mat-cell *matCellDef="let user">
          <div class="avtar">
            <div>
              <igx-avatar shape="circle" name="avtar"> {{getShortName(user.firstName)}}{{getShortName(user.lastName)}}</igx-avatar>
            </div>
            <!-- <div class="rows">
              <div class="circles" *ngFor='let item of Names; let i = index'>
                {{ i +1  < 4  ? getInitials(item , i) : '+'  +  (Names.length - i) }}
              </div>
              </div> -->
            &nbsp;
            <div class="name">
              {{user.firstName}}&nbsp;{{user.lastName}}
              <div class="email">{{user.email}}</div>
            </div>
          </div>
        </td>

      </ng-container>
      <!-- <ng-container matColumnDef="Name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> UserName </th>
          <td mat-cell *matCellDef="let user"> <span class="name"><igx-avatar initials="JS" shape="circle"></igx-avatar>&nbsp;&nbsp;{{user.firstName}}{{user.lastName}}</span><br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="email">{{user.email}}</span></td>
        </ng-container> -->

      <!-- Name Column -->
      <ng-container matColumnDef="designationName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Roles </th>
        <td mat-cell *matCellDef="let user"> {{user.designationName}} </td>
      </ng-container>
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
        <td mat-cell *matCellDef="let user" class="action">
          <button matTooltip="More actions" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon >more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item disabled (click)="updateuser(user)">
              <mat-icon>visibility</mat-icon>
              <span>View</span>
            </button>
            <button mat-menu-item (click)="updateuser(user)">
              <mat-icon>edit</mat-icon>
              <span>Upadte</span>
            </button>
            <button mat-menu-item (click)="deleteuser(user.id,user)">
              <mat-icon>delete</mat-icon>
              <span>Remove</span>
            </button>
          </mat-menu>

          <!-- <button mat-icon-button (click)="updateuser(user)">
                <mat-icon>edit</mat-icon>
              </button> &nbsp;
              <button mat-icon-button (click)="deleteuser(user.id,user)">
                <mat-icon color="warn">delete</mat-icon>
              </button>   -->
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let user; columns: displayedColumns;"></tr>

      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
      </tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>

  </div>
</div>

<!-- /.content -->
</div>